body {
	background-color: #272B30;
}

/* Main container styles */
#container {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-family: Arial, Helvetica;
	color: #FFE300;
	background-color: #1C1E22;
	padding-bottom: 5px;
}

#container h1 {
	font-size: 3em;
	margin: 0;
	padding: 0;
}

#container label {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

#container p {
	margin: 0;
	line-height: 1em;
	padding-bottom: 5px;
}

#container input {
	width: 70%;
	text-align: center;
	font-family: Arial, Helvetica;
	font-size: 1.2em;
	border: none;
	border-radius: 10px;
}

/* searchReults styles */
#searchResults {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 70%;
	margin: 0 auto;
	border-top: 1px dotted #ccc;
}

#searchResults ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#searchResults ul li {
	width: 100%;
	background-color: #F5F5F5;
	height: 110px;
	padding: 0 0 5px 10px;
	overflow: hidden;
	border-bottom: 1px dotted #ccc;
	animation: myanim 1s;
	transition: height 0.3s ease-out;
}

#searchResults li:hover {
	background-color: #FFFCE5;
	min-height: 110px;
	height: 250px;
	overflow: visible;
}

#searchResults h2 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	padding: 20px 0 5px 0;
	font-family: Arial, Helvetica;
}

#searchResults img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 5px;
	border-radius: 10px;
}

@keyframes myanim {
	0% { opacity: 0.3; }
	100% { opacity: 1.0; }
}